$purple: #540d6e;
$red: #ee4367;
$yellow: #ffd140;
$blue: #3bceab;
$green: #08ad69;
$white: white;
$overlay-black: rgba(0, 0, 0, 0.4);
$overlay-yellow: rgba(255, 209, 64, 0.8);
$overlay-blue: rgba(0, 550, 200, 0.8);
$overlay-red: rgba(238, 67, 103, 0.8);
$overlay-purple: rgba(84, 13, 110, 0.8);
$overlay-green: rgba(8, 173, 105, 0.8);
$overlay: linear-gradient(to right, $overlay-black, $overlay-black);
